In [1]:
%reset -f
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re, sqlite3, pickle, time, datetime, random

In [2]:
t = time.time()
path  = r'/rfs/CAPAI_PhD_dflr2/dflr2/Codes_Data_2/Data/'
file1 = path + '20210525_admissions.txt' 
file2 = path + '20210525_eobs.txt'
file3 = path + '20210525_haem-results.txt'
file4 = path + '20210525_icu.txt'
file5 = path + '20210525_meds.txt'
file6 = path + '20210525_micro-results.txt'
file7 = path + '20210525_oxygen.txt'
file8 = path + '20210525_prev_admissions.txt'
file9 = path + '20210525_spin.txt'
df_admin = pd.read_csv(file1, sep='\t', lineterminator='\n')
df_eobs  = pd.read_csv(file2, sep='\t', lineterminator='\n')

In [12]:
df = df_eobs[df_eobs['admission_id'] == 66490473].copy()
df

,admission_id,patient_id,timestamp,time_since_arrival_in_hosp_mins,time_since_prev_obs_in_mins,rr,bp,ews,heart_rate,temperature\r
76064,66490473,99139999,2017-05-17 14:40:16,NaN,268.0,20,154/74,3,77,35.8\r
78908,66490473,99139999,2017-05-13 03:21:32,NaN,129.0,26,201/100,5,83,36.5\r
78930,66490473,99139999,2017-05-13 01:12:31,NaN,NaN,20,167/86,2,68,36.1\r
78931,66490473,99139999,2017-05-13 04:25:56,NaN,64.0,20,152/79,2,67,36.1\r
78932,66490473,99139999,2017-05-13 08:20:27,NaN,NaN,20,165/88,0,76,36.3\r
78936,66490473,99139999,2017-05-15 15:57:31,NaN,550.0,20,144/77,2,85,36.0\r
78939,66490473,99139999,2017-05-14 20:08:21,NaN,277.0,20,178/96,1,89,36.2\r
78940,66490473,99139999,2017-05-14 15:31:57,NaN,542.0,18,178/1,1,80,36.3\r
78945,66490473,99139999,2017-05-13 14:49:23,NaN,389.0,20,160/85,0,90,36.4\r
78952,66490473,99139999,2017-05-13 21:06:03,NaN,377.0,20,174/87,1,84,36.5\r
78954,66490473,99139999,2017-05-16 20:20:18,NaN,795.0,20,162/81,2,90,36.1\r
78955,66490473,99139999,2017-05-16 20:23:34,NaN,3.0,18,103/61,1,57,36.6\r
81085,66490473,99139999,2017-05-14 06:29:02,NaN,563.0,20,153/81,1,77,36.1\r
81089,66490473,99139999,2017-05-15 20:22:41,NaN,265.0,20,146/82,2,87,36.2\r
81099,66490473,99139999,2017-05-16 07:05:48,NaN,643.0,20,130/74,0,76,36.1\r
81107,66490473,99139999,2017-05-17 10:12:23,NaN,220.0,19,136/78,3,75,36.0\r
81113,66490473,99139999,2017-05-15 06:47:16,NaN,639.0,20,176/92,2,80,36.1\r
81115,66490473,99139999,2017-05-18 06:57:55,NaN,627.0,20,143/75,3,82,36.1\r
81117,66490473,99139999,2017-05-17 06:32:48,NaN,609.0,18,143/90,3,71,36\r
81141,66490473,99139999,2017-05-18 15:12:39,NaN,232.0,18,136/76,2,69,36.5\r
81147,66490473,99139999,2017-05-17 20:30:04,NaN,350.0,20,164/75,1,94,36.1\r
81151,66490473,99139999,2017-05-18 11:20:08,NaN,263.0,17,140/67,3,69,35.8\r
81152,66490473,99139999,2017-05-19 06:44:34,NaN,595.0,18,141/79,1,79,36.2\r
81154,66490473,99139999,2017-05-19 12:48:12,NaN,364.0,19,140/68,2,62,36.5\r
81160,66490473,99139999,2017-05-20 12:59:32,NaN,410.0,18,142/72,2,67,36.4\r
82227,66490473,99139999,2017-05-18 20:49:19,NaN,337.0,18,175/83,3,83,36.4\r
82231,66490473,99139999,2017-05-19 17:13:38,NaN,265.0,18,144/67,2,79,35.9\r
82239,66490473,99139999,2017-05-20 06:09:18,NaN,583.0,18,135/79,3,75,35.8\r
82243,66490473,99139999,2017-05-19 20:26:08,NaN,193.0,18,156/71,3,76,35.7\r
82245,66490473,99139999,2017-05-21 06:14:12,NaN,581.0,20,135/82,0,78,36.2\r
82252,66490473,99139999,2017-05-21 14:08:54,NaN,474.0,18,143/72,1,69,36.3\r
82257,66490473,99139999,2017-05-20 18:26:20,NaN,327.0,17,113/89,2,78,36.3\r
82258,66490473,99139999,2017-05-20 20:33:28,NaN,127.0,20,154/85,0,84,36.2\r
82261,66490473,99139999,2017-05-21 20:53:18,NaN,405.0,18,126/82,0,88,36.3\r
82262,66490473,99139999,2017-05-22 11:22:14,NaN,263.0,19,125/72,0,82,36.5\r
82265,66490473,99139999,2017-05-22 06:59:00,NaN,606.0,20,143/72,1,78,36.7\r
82270,66490473,99139999,2017-05-22 20:40:10,NaN,558.0,19,158/85,1,82,36.3\r
82272,66490473,99139999,2017-05-23 06:34:29,NaN,594.0,18,124/65,1,89,36.3\r
82279,66490473,99139999,2017-05-23 20:21:21,NaN,138.0,19,151/74,3,77,36.1\r
82280,66490473,99139999,2017-05-25 15:38:42,NaN,542.0,18,130/78,1,79,36.0\r
82283,66490473,99139999,2017-05-23 18:03:52,NaN,203.0,20,152/60,1,76,36.9\r
82285,66490473,99139999,2017-05-24 06:08:05,NaN,587.0,18,125/75,2,74,36\r
82289,66490473,99139999,2017-05-24 10:36:47,NaN,268.0,19,130/73,3,70,35.9\r
82291,66490473,99139999,2017-05-24 15:38:48,NaN,302.0,20,136/74,2,65,35.8\r
82297,66490473,99139999,2017-05-23 10:56:57,NaN,262.0,19,134/66,1,73,36.4\r
82300,66490473,99139999,2017-05-23 14:40:48,NaN,224.0,19,133/68,1,68,36.9\r
82301,66490473,99139999,2017-05-25 06:36:04,NaN,584.0,18,123/66,0,89,36.1\r
83281,66490473,99139999,2017-05-24 20:52:11,NaN,314.0,19,123/68,2,67,36.1\r
83283,66490473,99139999,2017-05-26 12:52:10,NaN,339.0,18,145/72,1,71,36.1\r
83286,66490473,99139999,2017-05-25 20:33:26,NaN,295.0,18,159/77,0,79,36.4\r
83297,66490473,99139999,2017-05-26 07:13:55,NaN,640.0,19,120/69,2,69,36.1\r
83302,66490473,99139999,2017-05-26 16:38:08,NaN,226.0,18,137/72,0,68,36.4\r

In [10]:
t = time.time()
bps = list(zip(*[tuple(x.split('/')) if len(tuple(x.split('/'))) == 2 else (np.nan,np.nan) for x in df['bp'].tolist()]))

In [11]:
bps

[('154',
  '201',
  '167',
  '152',
  '165',
  '144',
  '178',
  '178',
  '160',
  '174',
  '162',
  '103',
  '153',
  '146',
  '130',
  '136',
  '176',
  '143',
  '143',
  '136',
  '164',
  '140',
  '141',
  '140',
  '142',
  '175',
  '144',
  '135',
  '156',
  '135',
  '143',
  '113',
  '154',
  '126',
  '125',
  '143',
  '158',
  '124',
  '151',
  '130',
  '152',
  '125',
  '130',
  '136',
  '134',
  '133',
  '123',
  '123',
  '145',
  '159',
  '120',
  '137'),
 ('74',
  '100',
  '86',
  '79',
  '88',
  '77',
  '96',
  '1',
  '85',
  '87',
  '81',
  '61',
  '81',
  '82',
  '74',
  '78',
  '92',
  '75',
  '90',
  '76',
  '75',
  '67',
  '79',
  '68',
  '72',
  '83',
  '67',
  '79',
  '71',
  '82',
  '72',
  '89',
  '85',
  '82',
  '72',
  '72',
  '85',
  '65',
  '74',
  '78',
  '60',
  '75',
  '73',
  '74',
  '66',
  '68',
  '66',
  '68',
  '72',
  '77',
  '69',
  '72')]