In [1]:
%reset -f
import pandas as pd
import numpy as np


import re, sqlite3, pickle, time, datetime, random, sys
# sys.path is a list of absolute path strings
sys.path.append('/home/d/dlr10/Documents/02_Statitics_modelling/0_FunctionsScripts')
import Loading_Data_Functions as load_fn
import FineTuning_Functions as FineTuning

pd.options.display.float_format = '{:,.3f}'.format

In [2]:
path = r'/home/d/dlr10/Documents/02_Statitics_modelling/DataSets/'

# Create Data First sample of Admission

In [3]:
data = pickle.load( open('/home/d/dlr10/Documents/01_Preprocessing/00_Data_2016_2018/DataFrame_pickles/df_patients_admissions_2016_2018.pickle', 'rb'))
df_patients   = data[0]
df_admissions = data[1]
charlson_dict_16_18 = dict(zip(df_admissions['admission_id'], df_admissions['Comorbidity_score'].tolist()))


data = pickle.load( open('/home/d/dlr10/Documents/01_Preprocessing/00_Data_2019_2020/DataFrame_pickles/df_patients_admissions_2019_2020.pickle', 'rb'))
df_patients   = data[0]
df_admissions_ = data[1]
charlson_dict_19_20 = dict(zip(df_admissions_['admission_id'], df_admissions_['Comorbidity_score'].tolist()))

In [4]:
t = time.time()
timeSeries      = False
peakstroughs    = False
samp_to_extract = 0
df_patients_16_18, df_admissions_16_18, df_eobs_16_18 = load_fn.Load_data()
df_admissions_16_18['Comorbidity_score'] = df_admissions_16_18['admission_id'].apply(lambda x: charlson_dict_16_18[x])
X_data_16_18       = load_fn.Exctract_Xdata(df_patients_16_18, df_admissions_16_18, df_eobs_16_18, samp_to_extract, peakstroughs, timeSeries  )

df_patients_19_20, df_admissions_19_20, df_eobs_19_20 = load_fn.Load_data('2019_2020')
df_admissions_19_20['Comorbidity_score'] = df_admissions_19_20['admission_id'].apply(lambda x: charlson_dict_19_20[x])
X_data_19_20       = load_fn.Exctract_Xdata(df_patients_19_20, df_admissions_19_20, df_eobs_19_20, samp_to_extract, peakstroughs, timeSeries  )
print("Elapsed time:", time.time()-t)

Elapsed time: 408.94829845428467

In [5]:
print("=================================FIRST RECORDED SAMPLE ADMISSION=================================")
print("-------------------------------------- 2016 - 2018 ----------------------------------------------")
display(X_data_16_18.head(5))
print("")
print("-------------------------------------- 2019 - 2020 ----------------------------------------------")
display(X_data_19_20.head(5))

=================================FIRST RECORDED SAMPLE ADMISSION=================================
-------------------------------------- 2016 - 2018 ----------------------------------------------

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,...,ALB,ALP,BILI,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,78793793,20.000,2,98.000,37.400,101.000,40.000,97.000,1.000,1,...,31.000,103.000,6.000,-1,0,88,2,0,0.000,1
144,30248532,16.000,0,68.000,36.500,157.000,88.000,96.000,1.000,1,...,40.375,107.375,11.938,1,1,86,1,1,1.000,0
288,42566860,18.000,1,87.000,37.400,177.000,87.000,95.000,1.000,1,...,30.000,69.000,14.000,1,1,85,1,0,1.000,0
432,6483250,22.000,9,96.000,36.600,84.000,51.000,94.000,1.000,0,...,35.000,89.000,16.000,-1,0,89,3,1,1.000,0
576,43986838,28.000,7,99.000,36.800,109.000,60.000,96.000,1.000,0,...,36.333,94.000,10.000,-1,0,89,3,1,1.000,0

-------------------------------------- 2019 - 2020 ----------------------------------------------

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,...,ALB,ALP,BILI,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,70461223,17.000,2,102.000,36.500,148.000,80.000,95.000,0.000,0,...,34.000,69.000,8.000,1,0,69,0,1,1.000,0
144,19488170,22.000,7,95.000,39.800,113.000,68.000,96.000,1.000,0,...,40.000,152.000,13.000,-1,0,77,2,1,0.000,0
288,89219346,17.000,0,69.000,37.200,148.000,83.000,99.000,0.000,0,...,27.000,93.000,1.998,-1,9,60,2,0,1.000,1
432,18991471,33.000,10,129.000,37.900,80.000,59.000,97.000,1.000,0,...,36.000,200.000,50.000,-1,0,74,0,1,1.000,1
576,47048263,18.000,3,86.000,38.100,149.000,84.000,99.000,1.000,0,...,42.000,58.000,8.000,-1,0,75,2,0,0.000,0

In [6]:
pickle.dump(X_data_16_18, open(path + 'df_first_2016_18.pickle', 'wb'))
pickle.dump(X_data_19_20, open(path + 'df_first_2019_20.pickle', 'wb'))

# Create Data PeaksnTrough of first day Admission

In [7]:
t = time.time()
timeSeries      = False
peakstroughs    = True
samp_to_extract = 0
df_patients_16_18, df_admissions_16_18, df_eobs_16_18 = load_fn.Load_data()
df_admissions_16_18['Comorbidity_score'] = df_admissions_16_18['admission_id'].apply(lambda x: charlson_dict_16_18[x])
X_data_pnt_16_18       = load_fn.Exctract_Xdata(df_patients_16_18, df_admissions_16_18, df_eobs_16_18, samp_to_extract, peakstroughs, timeSeries  )

df_patients_19_20, df_admissions_19_20, df_eobs_19_20 = load_fn.Load_data('2019_2020')
df_admissions_19_20['Comorbidity_score'] = df_admissions_19_20['admission_id'].apply(lambda x: charlson_dict_19_20[x])
X_data_pnt_19_20       = load_fn.Exctract_Xdata(df_patients_19_20, df_admissions_19_20, df_eobs_19_20, samp_to_extract, peakstroughs, timeSeries  )
print("Elapsed time:", time.time()-t)

Elapsed time: 1350.0440220832825

In [8]:
print("=================================Peak and Trough SAMPLE ADMISSION=================================")
print("-------------------------------------- 2016 - 2018 ----------------------------------------------")
display(X_data_pnt_16_18.head(5))
print("")
print("-------------------------------------- 2019 - 2020 ----------------------------------------------")
display(X_data_pnt_19_20.head(5))

=================================Peak and Trough SAMPLE ADMISSION=================================
-------------------------------------- 2016 - 2018 ----------------------------------------------

,admission_id,rr_Peak,rr_Trough,ews_Peak,ews_Trough,heart_rate_Peak,heart_rate_Trough,temperature_Peak,temperature_Trough,sbp_Peak,...,ALP_Trough,BILI_Peak,BILI_Trough,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,78793793,21.000,16.000,4,0,108.000,63.000,38.291,36.500,147.125,...,103.000,6.375,6.000,-1,0,88,2,0,0.000,1
1,30248532,18.000,16.000,3,0,85.000,68.000,38.000,36.500,177.000,...,96.875,11.938,11.688,1,1,86,1,1,1.000,0
2,42566860,20.000,16.000,3,1,87.812,65.786,37.979,37.000,177.000,...,69.000,14.000,14.000,1,1,85,1,0,1.000,0
3,6483250,24.000,18.000,9,2,109.000,70.118,37.800,36.200,119.000,...,79.000,16.000,9.200,-1,0,89,3,1,1.000,0
4,43986838,28.000,17.000,7,2,99.667,78.333,36.800,36.100,133.000,...,86.000,10.875,9.000,-1,0,89,3,1,1.000,0

-------------------------------------- 2019 - 2020 ----------------------------------------------

,admission_id,rr_Peak,rr_Trough,ews_Peak,ews_Trough,heart_rate_Peak,heart_rate_Trough,temperature_Peak,temperature_Trough,sbp_Peak,...,ALP_Trough,BILI_Peak,BILI_Trough,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,70461223,17.000,16.153,2,2,102.000,88.450,36.669,36.500,148.000,...,63.500,8.000,7.000,1,0,69,0,1,1.000,0
1,19488170,22.000,15.000,7,0,102.000,60.091,39.800,36.100,127.000,...,152.000,13.000,10.455,-1,0,77,2,1,0.000,0
2,89219346,19.818,16.000,2,0,87.818,65.429,38.891,36.944,184.000,...,89.000,1.998,1.998,-1,9,60,2,0,1.000,1
3,18991471,33.000,17.500,11,1,129.000,83.000,38.233,36.416,125.895,...,161.600,50.000,50.000,-1,0,74,0,1,1.000,1
4,47048263,20.000,18.000,4,2,87.765,82.143,39.400,36.211,152.000,...,58.000,8.000,8.000,-1,0,75,2,0,0.000,0

In [9]:
pickle.dump(X_data_pnt_16_18, open(path + 'df_pnt_2016_18.pickle', 'wb'))
pickle.dump(X_data_pnt_19_20, open(path + 'df_pnt_2019_20.pickle', 'wb'))

# Create Data Timeserie

In [10]:
t = time.time()
timeSeries      = True
peakstroughs    = False
samp_to_extract = 0
df_patients_16_18, df_admissions_16_18, df_eobs_16_18 = load_fn.Load_data()
df_admissions_16_18['Comorbidity_score'] = df_admissions_16_18['admission_id'].apply(lambda x: charlson_dict_16_18[x])
X_data_ts_16_18       = load_fn.Exctract_Xdata(df_patients_16_18, df_admissions_16_18, df_eobs_16_18, samp_to_extract, peakstroughs, timeSeries  )

df_patients_19_20, df_admissions_19_20, df_eobs_19_20 = load_fn.Load_data('2019_2020')
df_admissions_19_20['Comorbidity_score'] = df_admissions_19_20['admission_id'].apply(lambda x: charlson_dict_19_20[x])
X_data_ts_19_20       = load_fn.Exctract_Xdata(df_patients_19_20, df_admissions_19_20, df_eobs_19_20, samp_to_extract, peakstroughs, timeSeries  )
print("Elapsed time:", time.time()-t)

Elapsed time: 5976.307381868362

In [11]:
print("=================================TIME SERIES SAMPLE ADMISSION=================================")
print("-------------------------------------- 2016 - 2018 ----------------------------------------------")
display(X_data_ts_16_18.head(5))
print("")
print("-------------------------------------- 2019 - 2020 ----------------------------------------------")
display(X_data_ts_19_20.head(5))

=================================TIME SERIES SAMPLE ADMISSION=================================
-------------------------------------- 2016 - 2018 ----------------------------------------------

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,...,ALB,ALP,BILI,no_sample_series,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,Mortality
0,78793793,20.000,2.000,98.000,37.400,101.000,40.000,97.000,1.000,1.000,...,31.000,103.000,6.000,0,-1.000,0.000,88.000,2.000,0.000,1.000
1,78793793,19.714,1.000,95.429,37.514,109.286,55.714,97.571,1.000,1.000,...,31.000,103.000,6.000,1,-1.000,0.000,88.000,2.000,0.000,1.000
2,78793793,19.429,1.000,92.857,37.629,117.571,71.429,98.143,1.000,1.000,...,31.000,103.000,6.000,2,-1.000,0.000,88.000,2.000,0.000,1.000
3,78793793,19.143,0.000,90.286,37.743,125.857,87.143,98.714,1.000,1.000,...,31.000,103.000,6.000,3,-1.000,0.000,88.000,2.000,0.000,1.000
4,78793793,19.200,0.000,92.800,37.580,131.600,87.200,98.000,1.000,1.000,...,31.000,103.000,6.000,4,-1.000,0.000,88.000,2.000,0.000,1.000

-------------------------------------- 2019 - 2020 ----------------------------------------------

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,...,ALB,ALP,BILI,no_sample_series,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,Mortality
0,70461223,17.000,2.000,102.000,36.500,148.000,80.000,95.000,0.000,0.000,...,34.000,69.000,8.000,0,1.000,0.000,69.000,0.000,1.000,0.000
1,70461223,16.982,2.000,101.712,36.504,147.766,79.640,95.018,0.000,1.000,...,34.000,69.000,8.000,1,1.000,0.000,69.000,0.000,1.000,0.000
2,70461223,16.964,2.000,101.423,36.507,147.532,79.279,95.036,0.000,1.000,...,34.000,69.000,8.000,2,1.000,0.000,69.000,0.000,1.000,0.000
3,70461223,16.946,2.000,101.135,36.511,147.297,78.919,95.054,0.000,1.000,...,34.000,69.000,8.000,3,1.000,0.000,69.000,0.000,1.000,0.000
4,70461223,16.928,2.000,100.847,36.514,147.063,78.559,95.072,0.000,1.000,...,34.000,69.000,8.000,4,1.000,0.000,69.000,0.000,1.000,0.000

In [12]:
pickle.dump(X_data_ts_16_18, open(path + 'df_ts_2016_18.pickle', 'wb'))
pickle.dump(X_data_ts_19_20, open(path + 'df_ts_2019_20.pickle', 'wb'))

_______________________________

____________________________

________________________________________

# DataSet for CURB Tiers

## Create Data First sample of Admission

In [13]:
DataFrame_path = '/home/d/dlr10/Documents/02_Statitics_modelling/DataFrames/'
    
timeSeries      = False
peakstroughs    = False
samp_to_extract = 0

# ===========================
t = time.time()
df_patients_16_18, df_admissions_16_18 = pickle.load( open( DataFrame_path + '2016_2018/df_patients_admissions_v4.pickle', 'rb'))
df_admissions_16_18['Comorbidity_score'] = df_admissions_16_18['admission_id'].apply(lambda x: charlson_dict_16_18[x])
df_curb_eobs_16_18 = pickle.load(open( DataFrame_path + '2016_2018/df_eobs_curb_16_18.pickle', 'rb'))[0]
df_curb_eobs_16_18 = [df.reset_index(drop=True) for df in df_curb_eobs_16_18]
for df in df_curb_eobs_16_18: df['no_sample_series'] = df.apply(lambda x : x.name%144, axis = 1 )
    
X_data_curb_16_18 = [load_fn.Exctract_Xdata(df_patients_16_18, df_admissions_16_18, df, samp_to_extract, peakstroughs, timeSeries)
                    for df in df_curb_eobs_16_18] 
print("Elapsed time:", time.time()-t)
# ===========================
t = time.time()
df_patients_19_20, df_admissions_19_20 = pickle.load( open( DataFrame_path + '2019_2020/df_patients_admissions_v4.pickle', 'rb'))
df_admissions_19_20['Comorbidity_score'] = df_admissions_19_20['admission_id'].apply(lambda x: charlson_dict_19_20[x])
df_curb_eobs_19_20 = pickle.load(open( DataFrame_path + '2019_2020/df_eobs_curb_19_20.pickle', 'rb'))[0]
df_curb_eobs_19_20 = [df.reset_index(drop=True) for df in df_curb_eobs_19_20]
for df in df_curb_eobs_19_20: df['no_sample_series'] = df.apply(lambda x : x.name%144, axis = 1 )
    
X_data_curb_19_20 = [load_fn.Exctract_Xdata(df_patients_19_20, df_admissions_19_20, df, samp_to_extract, peakstroughs, timeSeries)
                    for df in df_curb_eobs_19_20] 
print("Elapsed time:", time.time()-t)

Elapsed time: 92.83504605293274
Elapsed time: 22.761579036712646

In [14]:
print("=================================FIRST RECORDED SAMPLE ADMISSION=================================")
print("-------------------------------------- 2016 - 2018 ----------------------------------------------")
for X_data in X_data_curb_16_18: print(len(X_data)) 
display(X_data_curb_16_18[0].head(5))
print("")
print("-------------------------------------- 2019 - 2020 ----------------------------------------------")
for X_data in X_data_curb_19_20:print(len(X_data)) 
display(X_data_curb_19_20[0].head(5))

=================================FIRST RECORDED SAMPLE ADMISSION=================================
-------------------------------------- 2016 - 2018 ----------------------------------------------
1164
1046
1109

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,67812046,25.000,6,116.000,37.500,150.000,82.000,94.000,1.000,1,1,0,40,0,0,0.000,0
144,52393258,18.000,4,94.000,36.300,136.000,67.000,99.000,1.000,1,-1,0,53,2,0,0.000,0
288,62865417,28.000,5,109.000,38.200,112.000,76.000,99.000,1.000,1,1,0,47,0,1,1.000,0
432,26501865,17.000,1,105.000,37.700,135.000,75.000,97.000,1.000,1,1,0,88,0,0,1.000,0
576,95636416,21.000,6,87.000,38.200,121.000,60.000,93.000,1.000,1,1,0,62,1,0,0.000,0

-------------------------------------- 2019 - 2020 ----------------------------------------------
411
392
265

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,6361876,26.000,8,132.000,37.400,183.000,77.000,100.000,1.000,0,-1,1,57,3,1,1.000,0
144,66737446,20.000,0,65.000,37.100,142.000,76.000,99.000,0.000,0,1,8,68,0,0,0.000,0
288,34224926,18.000,4,64.000,36.600,130.000,64.000,92.000,1.000,0,-1,0,74,3,1,1.000,0
432,526683,20.000,3,95.000,36.700,127.000,89.000,97.000,1.000,0,1,0,48,0,0,1.000,0
576,2584610,18.000,2,78.000,37.200,113.000,78.000,93.000,0.000,0,1,0,62,0,0,0.000,0

In [15]:
pickle.dump(X_data_curb_16_18, open(path + 'df_first_curb_2016_18.pickle', 'wb'))
pickle.dump(X_data_curb_19_20, open(path + 'df_first_curb_2019_20.pickle', 'wb'))

## Create Data PeaksnTrough of first day Admission

In [16]:
t = time.time()
timeSeries      = False
peakstroughs    = True
samp_to_extract = 0
# ===========================
t = time.time()
df_patients_16_18, df_admissions_16_18 = pickle.load( open( DataFrame_path + '2016_2018/df_patients_admissions_v4.pickle', 'rb'))
df_admissions_16_18['Comorbidity_score'] = df_admissions_16_18['admission_id'].apply(lambda x: charlson_dict_16_18[x])
df_curb_eobs_16_18 = pickle.load(open( DataFrame_path + '2016_2018/df_eobs_curb_16_18.pickle', 'rb'))[0]
df_curb_eobs_16_18 = [df.reset_index(drop=True) for df in df_curb_eobs_16_18]
for df in df_curb_eobs_16_18: df['no_sample_series'] = df.apply(lambda x : x.name%144, axis = 1 )
    
X_data_pnt_curb_16_18 = [load_fn.Exctract_Xdata(df_patients_16_18, df_admissions_16_18, df, samp_to_extract, peakstroughs, timeSeries)
                    for df in df_curb_eobs_16_18] 
print("Elapsed time:", time.time()-t)
# ===========================
t = time.time()
df_patients_19_20, df_admissions_19_20 = pickle.load( open( DataFrame_path + '2019_2020/df_patients_admissions_v4.pickle', 'rb'))
df_admissions_19_20['Comorbidity_score'] = df_admissions_19_20['admission_id'].apply(lambda x: charlson_dict_19_20[x])
df_curb_eobs_19_20 = pickle.load(open( DataFrame_path + '2019_2020/df_eobs_curb_19_20.pickle', 'rb'))[0]
df_curb_eobs_19_20 = [df.reset_index(drop=True) for df in df_curb_eobs_19_20]
for df in df_curb_eobs_19_20: df['no_sample_series'] = df.apply(lambda x : x.name%144, axis = 1 )
    
X_data_pnt_curb_19_20 = [load_fn.Exctract_Xdata(df_patients_19_20, df_admissions_19_20, df, samp_to_extract, peakstroughs, timeSeries)
                    for df in df_curb_eobs_19_20] 
print("Elapsed time:", time.time()-t)

Elapsed time: 92.9854485988617
Elapsed time: 26.756553888320923

In [17]:
print("=================================FIRST RECORDED SAMPLE ADMISSION=================================")
print("-------------------------------------- 2016 - 2018 ----------------------------------------------")
for X_data in X_data_pnt_curb_16_18: print(len(X_data)) 
display(X_data_pnt_curb_16_18[0].head(5))
print("")
print("-------------------------------------- 2019 - 2020 ----------------------------------------------")
for X_data in X_data_pnt_curb_19_20:print(len(X_data)) 
display(X_data_pnt_curb_19_20[0].head(5))

=================================FIRST RECORDED SAMPLE ADMISSION=================================
-------------------------------------- 2016 - 2018 ----------------------------------------------
1164
1046
1109

,admission_id,rr_Peak,rr_Trough,ews_Peak,ews_Trough,heart_rate_Peak,heart_rate_Trough,temperature_Peak,temperature_Trough,sbp_Peak,...,Assisted_O2_Trough,Confusion_Peak,Confusion_Trough,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,67812046,25.000,19.103,6,0,116.000,80.000,38.276,36.831,160.098,...,1.000,1,1,1,0,40,0,0,0.000,0
1,52393258,18.000,15.000,4,0,107.000,80.000,37.200,36.300,146.000,...,1.000,1,1,-1,0,53,2,0,0.000,0
2,62865417,28.000,17.077,5,0,109.000,66.385,38.850,36.200,124.533,...,1.000,1,1,1,0,47,0,1,1.000,0
3,26501865,20.000,17.000,1,0,105.000,70.000,37.700,36.300,135.000,...,1.000,1,1,1,0,88,0,0,1.000,0
4,95636416,21.000,16.000,6,1,89.842,78.000,38.200,36.332,134.000,...,1.000,1,0,1,0,62,1,0,0.000,0

-------------------------------------- 2019 - 2020 ----------------------------------------------
411
392
265

,admission_id,rr_Peak,rr_Trough,ews_Peak,ews_Trough,heart_rate_Peak,heart_rate_Trough,temperature_Peak,temperature_Trough,sbp_Peak,...,Assisted_O2_Trough,Confusion_Peak,Confusion_Trough,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,had_Prev_admin,Mortality
0,6361876,26.000,19.000,8,2,134.000,98.167,37.700,35.806,183.000,...,0.000,1,0,-1,1,57,3,1,1.000,0
1,66737446,20.000,17.000,3,0,99.000,65.000,38.200,36.600,142.000,...,0.000,1,0,1,8,68,0,0,0.000,0
2,34224926,20.000,18.000,4,0,82.167,64.000,37.469,36.200,133.438,...,0.000,1,0,-1,0,74,3,1,1.000,0
3,526683,20.000,17.062,4,2,95.000,82.000,36.987,36.311,151.389,...,1.000,1,0,1,0,48,0,0,1.000,0
4,2584610,19.846,17.000,3,1,97.000,76.000,37.200,36.500,115.769,...,0.000,1,0,1,0,62,0,0,0.000,0

In [18]:
pickle.dump(X_data_pnt_curb_16_18, open(path + 'df_pnt_curb_2016_18.pickle', 'wb'))
pickle.dump(X_data_pnt_curb_19_20, open(path + 'df_pnt_curb_2019_20.pickle', 'wb'))


## Create Data Timeserie

In [19]:
t = time.time()
timeSeries      = True
peakstroughs    = False
samp_to_extract = 0
# ===========================
t = time.time()
df_patients_16_18, df_admissions_16_18 = pickle.load( open( DataFrame_path + '2016_2018/df_patients_admissions_v4.pickle', 'rb'))
df_admissions_16_18['Comorbidity_score'] = df_admissions_16_18['admission_id'].apply(lambda x: charlson_dict_16_18[x])
df_curb_eobs_16_18 = pickle.load(open( DataFrame_path + '2016_2018/df_eobs_curb_16_18.pickle', 'rb'))[0]
df_curb_eobs_16_18 = [df.reset_index(drop=True) for df in df_curb_eobs_16_18]
for df in df_curb_eobs_16_18: df['no_sample_series'] = df.apply(lambda x : x.name%144, axis = 1 )
    
X_data_ts_curb_16_18 = [load_fn.Exctract_Xdata(df_patients_16_18, df_admissions_16_18, df, samp_to_extract, peakstroughs, timeSeries)
                    for df in df_curb_eobs_16_18] 
print("Elapsed time:", time.time()-t)
# ===========================
t = time.time()
df_patients_19_20, df_admissions_19_20 = pickle.load( open( DataFrame_path + '2019_2020/df_patients_admissions_v4.pickle', 'rb'))
df_admissions_19_20['Comorbidity_score'] = df_admissions_19_20['admission_id'].apply(lambda x: charlson_dict_19_20[x])
df_curb_eobs_19_20 = pickle.load(open( DataFrame_path + '2019_2020/df_eobs_curb_19_20.pickle', 'rb'))[0]
df_curb_eobs_19_20 = [df.reset_index(drop=True) for df in df_curb_eobs_19_20]
for df in df_curb_eobs_19_20: df['no_sample_series'] = df.apply(lambda x : x.name%144, axis = 1 )
    
X_data_ts_curb_19_20 = [load_fn.Exctract_Xdata(df_patients_19_20, df_admissions_19_20, df, samp_to_extract, peakstroughs, timeSeries)
                    for df in df_curb_eobs_19_20] 
print("Elapsed time:", time.time()-t)

Elapsed time: 140.22876381874084
Elapsed time: 35.388997077941895

In [20]:
print("=================================FIRST RECORDED SAMPLE ADMISSION=================================")
print("-------------------------------------- 2016 - 2018 ----------------------------------------------")
for X_data in X_data_ts_curb_16_18: print(len(X_data)) 
display(X_data_ts_curb_16_18[0].head(5))
print("")
print("-------------------------------------- 2019 - 2020 ----------------------------------------------")
for X_data in X_data_ts_curb_19_20:print(len(X_data)) 
display(X_data_ts_curb_19_20[0].head(5))

=================================FIRST RECORDED SAMPLE ADMISSION=================================
-------------------------------------- 2016 - 2018 ----------------------------------------------
167616
150624
159696

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,no_sample_series,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,Mortality
0,67812046,25.000,6.000,116.000,37.500,150.000,82.000,94.000,1.000,1.000,0,1.000,0.000,40.000,0.000,0.000,0.000
1,67812046,20.000,2.000,106.000,37.700,138.000,85.000,95.000,1.000,1.000,1,1.000,0.000,40.000,0.000,0.000,0.000
2,67812046,20.000,2.000,105.840,37.748,139.840,85.160,95.080,1.000,1.000,2,1.000,0.000,40.000,0.000,0.000,0.000
3,67812046,20.000,2.000,105.680,37.796,141.680,85.320,95.160,1.000,1.000,3,1.000,0.000,40.000,0.000,0.000,0.000
4,67812046,20.000,2.000,105.520,37.844,143.520,85.480,95.240,1.000,1.000,4,1.000,0.000,40.000,0.000,0.000,0.000

-------------------------------------- 2019 - 2020 ----------------------------------------------
59184
56448
38160

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,no_sample_series,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,Mortality
0,6361876,26.000,8.000,132.000,37.400,183.000,77.000,100.000,1.000,0.000,0,-1.000,1.000,57.000,3.000,1.000,0.000
1,6361876,19.000,5.000,134.000,37.700,162.000,67.000,100.000,1.000,0.000,1,-1.000,1.000,57.000,3.000,1.000,0.000
2,6361876,25.167,7.000,132.333,37.483,140.833,87.167,99.500,1.000,1.000,2,-1.000,1.000,57.000,3.000,1.000,0.000
3,6361876,19.500,4.000,127.000,37.450,140.500,83.500,98.500,1.000,0.000,3,-1.000,1.000,57.000,3.000,1.000,0.000
4,6361876,22.200,6.000,123.000,37.420,147.400,83.400,98.400,1.000,0.000,4,-1.000,1.000,57.000,3.000,1.000,0.000

In [21]:
pickle.dump(X_data_ts_curb_16_18, open(path + 'df_ts_curb_2016_18.pickle', 'wb'))
pickle.dump(X_data_ts_curb_19_20, open(path + 'df_ts_curb_2019_20.pickle', 'wb'))

# CREATE EWS DATASET

In [22]:
d_16_18_mrt = pickle.load(open(path + 'df_ts_2016_18.pickle','rb'))
d_19_20_mrt = pickle.load(open(path + 'df_ts_2019_20.pickle','rb'))

In [23]:
def create_ews_1d_dataset(df):
    df_ews = df[df['no_sample_series'] == 143]
    target_1d_ews =list(dict(zip(df_ews['admission_id'], df_ews['ews'])).values())
    df_ = df[df['no_sample_series'] < 48].drop(columns = ['ews', 'no_sample_series'])
    df_ = df.astype(dict([(feat, 'float') for feat in df.columns[1:]]))
    return [df_, target_1d_ews]

In [24]:
ews_16_18_data = create_ews_1d_dataset(d_16_18_mrt )
ews_19_20_data = create_ews_1d_dataset(d_19_20_mrt )

pickle.dump(ews_16_18_data, open(path + 'df_ts_2016_18_ews_1d.pickle', 'wb'))
pickle.dump(ews_19_20_data, open(path + 'df_ts_2019_20_ews_1d.pickle', 'wb'))

# CREATE LOS DATASET

In [4]:
d_16_18_mrt = pickle.load(open(path + 'df_ts_2016_18.pickle','rb'))
d_19_20_mrt = pickle.load(open(path + 'df_ts_2019_20.pickle','rb'))

In [5]:
def create_los_1d_dataset(df, df_admin):
    admins = df['admission_id'].unique().tolist()
    dict_los = dict(zip(df_admin['admission_id'], df_admin['lengthofstay']))
    target_1d_los = []
    for adm in admins :
        adm_los = dict_los[adm]
        days = adm_los.days
        if days <= 4: target_1d_los.append((adm, '3-4d'))
        elif days <= 6: target_1d_los.append((adm, '5-6d'))
        elif days == 7: target_1d_los.append((adm, '7d')) 
        elif days <= 9: target_1d_los.append((adm, '8-9d'))
        elif days <= 13: target_1d_los.append((adm, '10-13d'))
        elif days == 15: target_1d_los.append((adm, '2w'))
        elif days <= 20: target_1d_los.append((adm, '3w'))
        else: target_1d_los.append((adm, '4w'))
    df_ = df[df['no_sample_series'] < 48].drop(columns = ['ews', 'no_sample_series'])
    df_ = df.astype(dict([(feat, 'float') for feat in df.columns[1:]]))

    return [df_, target_1d_los]

In [6]:
los_16_18_data = create_los_1d_dataset(d_16_18_mrt, df_admissions_16_18 )
los_19_20_data = create_los_1d_dataset(d_19_20_mrt, df_admissions_19_20 )

pickle.dump(los_16_18_data, open(path + 'df_ts_2016_18_los_1d.pickle', 'wb'))
pickle.dump(los_19_20_data, open(path + 'df_ts_2019_20_los_1d.pickle', 'wb'))

NameError: name 'df_admissions_16_18' is not defined