In [17]:
%reset -f
import pandas as pd
import pickle, time, os
import Functions_Clustering as FC

In [18]:
t = time.time()
path = r'/home/d/dlr10/Documents/02_Statitics_modelling/DataSets/'

X_data_16_18 = pickle.load(open(path + 'df_ts_2016_18.pickle','rb')).drop(columns = 'no_sample_series')
X_data_19_20 = pickle.load(open(path + 'df_ts_2019_20.pickle','rb')).drop(columns = 'no_sample_series')

path_2 = r'/home/d/dlr10/Documents/02_Statitics_modelling/8_PCA_Signaling/Clustering/Sub_results/'

res = pickle.load(open(path_2 + 'results_clustering_ALB.pickle','rb'))

In [19]:
dict_labels = {'rr':'Respiratory rate','heart_rate':'Heart rate','temperature':'Temperature',
               'sbp':'Systolic bp', 'CREA':'Creatinine','UREA':'Urea','K':'Potassium', 'GFR':'GFR',
               'HCT':'HCT','HGB':'Haemoglobin','RBC':'RBC','MCV':'MCV','TLYMAB':'T-lymphocite Ab','ALB':'Albumin',
               'ALP':'Alk. Phosph.','BILI':'Bilirubin'}

In [25]:
for pckl in os.listdir(path_2 ):
    feature = pckl.replace("results_clustering_","")
    feature = feature.replace(".pickle","")
    
    
    feature_res = pickle.load(open(path_2 + 'results_clustering_'+ feature+'.pickle','rb'))
    n?clusters ) 
    df_results = feature_res[feature][5][0]
    df_clusters = feature_res[feature][5][1]
    
    
    break

In [28]:
df_clusters

,TotalSOM,deceasedSOM,per_SOM,TotalKM,deceasedKM,per_KM,TotalKS,deceasedKS,per_KS
clusterSOM,,,,,,,,,
0,402,300,0.746269,380,313,0.823684,NaN,NaN,NaN
1,282,225,0.797872,351,254,0.723647,45.0,34.0,0.755556
2,373,271,0.726542,266,194,0.729323,1.0,1.0,1.000000
3,356,284,0.797753,383,282,0.736292,2.0,2.0,1.000000
4,343,241,0.702624,361,288,0.797784,33.0,31.0,0.939394
5,304,226,0.743421,479,373,0.778706,1048.0,823.0,0.785305
6,347,266,0.766571,313,221,0.706070,NaN,NaN,NaN
7,388,303,0.780928,236,189,0.800847,NaN,NaN,NaN
8,326,260,0.797546,800,705,0.881250,1774.0,1477.0,0.832582
9,385,302,0.784416,282,221,0.783688,1908.0,1422.0,0.745283
10,315,233,0.739683,498,417,0.837349,553.0,429.0,0.775769
11,442,360,0.814480,323,251,0.777090,7.0,6.0,0.857143
12,632,544,0.860759,317,247,0.779180,2261.0,1800.0,0.796108
13,384,317,0.825521,463,370,0.799136,107.0,81.0,0.757009
14,337,260,0.771513,271,196,0.723247,7.0,6.0,0.857143
15,415,341,0.821687,364,272,0.747253,175.0,135.0,0.771429
16,546,461,0.844322,523,427,0.816444,876.0,666.0,0.760274
17,350,272,0.777143,291,219,0.752577,234.0,173.0,0.739316
18,495,422,0.852525,316,247,0.781646,NaN,NaN,NaN
19,309,228,0.737864,441,330,0.748299,6.0,5.0,0.833333
20,312,212,0.679487,218,148,0.678899,41.0,27.0,0.658537
21,268,204,0.761194,262,205,0.782443,NaN,NaN,NaN
22,337,251,0.744807,482,407,0.844398,261.0,207.0,0.793103
23,340,274,0.805882,365,278,0.761644,51.0,41.0,0.803922
24,402,309,0.768657,405,312,0.770370,NaN,NaN,NaN

In [10]:
df_results = res['ALB'][5][0]
df_clusters = res['ALB'][5][1]

In [11]:
df_results

      admission_id  mortality  clusterSOM  clusterKM  clusterKS
0         78793793        1.0          17          2          9
1         30248532        0.0          18          0         15
2         42566860        0.0           1          1          0
3          6483250        0.0          12         16          1
4         43986838        0.0           7         10          3
...            ...        ...         ...        ...        ...
9385      10994660        1.0           5         16          1
9386      48419063        0.0           3          9         24
9387       5532862        0.0          18         13          5
9388      74171937        0.0          18          0         15
9389      35965296        0.0          21         16         18

[9390 rows x 5 columns]

In [13]:

df_clusters

,TotalSOM,deceasedSOM,per_SOM,TotalKM,deceasedKM,per_KM,TotalKS,deceasedKS,per_KS
clusterSOM,,,,,,,,,
0,158,122,0.772152,731,548,0.749658,2027.0,1692.0,0.834731
1,1955,1630,0.833760,1941,1619,0.834106,351.0,272.0,0.774929
2,163,135,0.828221,332,270,0.813253,425.0,327.0,0.769412
3,158,135,0.854430,208,167,0.802885,575.0,463.0,0.805217
4,119,100,0.840336,292,215,0.736301,1345.0,1024.0,0.761338
5,446,340,0.762332,376,303,0.805851,465.0,367.0,0.789247
6,62,53,0.854839,88,71,0.806818,159.0,131.0,0.823899
7,70,55,0.785714,87,71,0.816092,210.0,160.0,0.761905
8,245,193,0.787755,54,41,0.759259,232.0,185.0,0.797414
9,98,79,0.806122,60,54,0.900000,278.0,221.0,0.794964
10,357,276,0.773109,59,51,0.864407,640.0,480.0,0.750000
11,243,193,0.794239,38,26,0.684211,NaN,NaN,NaN
12,474,375,0.791139,116,99,0.853448,360.0,269.0,0.747222
13,125,99,0.792000,134,109,0.813433,NaN,NaN,NaN
14,272,190,0.698529,209,166,0.794258,4.0,2.0,0.500000
15,39,32,0.820513,572,431,0.753497,914.0,673.0,0.736324
16,698,530,0.759312,1039,779,0.749759,158.0,130.0,0.822785
17,474,387,0.816456,622,475,0.763666,235.0,176.0,0.748936
18,1091,821,0.752521,513,381,0.742690,397.0,313.0,0.788413
19,111,86,0.774775,99,68,0.686869,NaN,NaN,NaN
20,159,117,0.735849,59,47,0.796610,125.0,97.0,0.776000
21,700,553,0.790000,310,260,0.838710,NaN,NaN,NaN
22,737,554,0.751696,1158,886,0.765112,NaN,NaN,NaN
23,227,156,0.687225,91,76,0.835165,284.0,205.0,0.721831
24,209,155,0.741627,202,153,0.757426,206.0,179.0,0.868932

In [14]:
X_data_16_18[X_data_16_18['admission_id'] == 42566860]

,admission_id,rr,ews,heart_rate,temperature,sbp,dbp,Oxygen_Saturation,Assisted_O2,Confusion,...,BASAB,ALB,ALP,BILI,sex,ethnicity,age_at_admin,Comorb_score,Spcfc_Comorb,Mortality
288,42566860,18.000000,1.0,87.0,37.4,177.0,87.0,95.0,1.0,1.0,...,0.011818,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
289,42566860,17.600000,1.0,87.0,37.32,176.2,86.4,95.6,1.0,1.0,...,0.011818,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
290,42566860,17.200001,1.0,87.0,37.24,175.4,85.8,96.2,1.0,1.0,...,0.011818,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
291,42566860,16.799999,2.0,87.0,37.16,174.6,85.2,96.8,1.0,0.0,...,0.011818,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
292,42566860,16.400000,2.0,87.0,37.08,173.8,84.6,97.4,1.0,0.0,...,0.011818,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,42566860,16.000000,3.0,95.0,37.4875,107.625,52.125,95.0,1.0,1.0,...,0.02,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
428,42566860,16.000000,2.0,95.0,37.475,110.25,55.25,95.0,1.0,1.0,...,0.02,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
429,42566860,16.000000,2.0,95.0,37.4625,112.875,58.375,95.0,1.0,1.0,...,0.02,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
430,42566860,16.000000,2.0,95.0,37.45,115.5,61.5,95.0,1.0,1.0,...,0.02,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0
431,42566860,16.000000,2.0,95.0,37.4375,118.125,64.625,95.0,1.0,1.0,...,0.02,30.0,69.0,14.0,1.0,1.0,85.0,1.0,0.0,0.0